:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--accent-color);

	--header-height: 3rem;
	--min-page-margin: 2rem;
	--home-bottom-height: 12vh;
	--home-bottom-height-mobile: 15vh;
	--background-color: rgba(0, 28, 85, 1);
	--background-color-translucent: rgba(0, 28, 85, 0.5);
	--footer-color: #191919;
	--accent-color: #d6e4ff;
	--sky-blue: rgba(211, 242, 255, 1);
	--svg-filter-accent: invert(92%) sepia(4%) saturate(3660%) hue-rotate(184deg) brightness(98%)
		contrast(106%);
	--svg-filter-white: invert(100%) sepia(0%) saturate(2%) hue-rotate(241deg) brightness(105%)
		contrast(101%);
	--svg-filter-999999: invert(61%) sepia(79%) saturate(5%) hue-rotate(333deg) brightness(86%)
		contrast(85%);
	--sky-gradient: linear-gradient(
		0deg,
		rgba(255, 122, 237, 1) 0%,
		rgba(255, 220, 165, 1) 50%,
		var(--sky-blue) 100%
	);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overscroll-behavior: none;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

.mobile-menu .btn-close {
	opacity: 1;
	filter: var(--svg-filter-accent);
	padding: 1rem;
}

.mobile-menu .btn-close:focus {
	box-shadow: none;
}

@font-face {
	font-family: 'Bakbak One';
	font-style: normal;
	font-display: block;
	src: url('/fonts/BakbakOne-Regular.ttf');
}
